* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f0f2f5;
}

.container {
    display: flex;
    width: 80%;
    height: 80vh;
    margin: 50px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.left-side {
    width: 50%;
    background-color: #007bff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.left-side h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.left-side p {
    font-size: 18px;
    text-align: center;
}

.right-side {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
}

.login-form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.login-form button {
    margin-top: 25px;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #0056b3;
}

.left-side img {
    width: 10px;
}

a {
    text-decoration: none;
    margin-top: 25px;
    padding-left: 5px;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}